body{
    margin: 0;
    background-image: url(../images/intérieur-rame-tgv-inoui-gare-lille-flandres-960x640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#header{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#header a{
    text-decoration: none;
}

#logo{
    margin-left: 30px;
    color: #248315;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

nav a{
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: black;
    text-decoration: none;
}

#container{
    padding-top: 50vh;
    }

#cards-container{
    background-color: whitesmoke;
    margin: auto;
    padding: 5px 5vw;
    width: 50vw;
    text-align: center;
    flex-shrink: 0;
}

#title h3{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


#card_trips{
    width: 80%;
    margin: auto;
    overflow-y: scroll;
}

#payment h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#payment{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5vw;
    width: 50vw;
    background-color: #01153F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#payment button{
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    background-color: #469E86;
}