body{
    margin: 0;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#header{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#header a{
    text-decoration: none;
}

#logo{
    margin-left: 30px;
    color: #469E86;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


nav a{
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: black;
    text-decoration: none;
}

#title{
    padding: 20px;
    text-align: center;
    color: #fff;
}

#title h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#title span{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#container{
    width: 100vw;
    height: 88vh;
    align-items: center;
}

#cards-container{
    display: flex;
    justify-content:center;
    height: 523px;
    align-items: center;
    gap: 150px;
    flex-shrink: 0;
}

#card_search{
    text-align: center;
    width: 320px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 20px;
    background: white;
}

#forms{
padding-top: 30px;
}

#date{
    margin-top: 25%;
    padding-right: 8px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    border: 0.5px grey solid;
    padding-left: 15px;
}

#departure, #arrival{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    border: 0.5px grey solid;
    padding-left: 15px;
    margin: 3px;
}

#search_button{
    color: white;
    margin-top: 30%;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: grey;
}

#search_button:hover{
    color: white;
    margin-top: 30%;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #469E86;
}

#card_dispo{
    width: 320px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 20px;
    background: white;
    overflow-y: auto;
}

#card_dispo{
    width: 320px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 20px;
    text-align: center;
}

.train {
    margin-top: 50px;
    width: 256px;
    height: 256px;
    border-bottom: 2px solid #469E86;
}

.slogan{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.trip{
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    background-color: rgb(244, 244, 244);
    margin: 10px;
    border-radius: 5px;
}

.trip h4{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#book_button {
    color: white;
    padding: 0px 8px;
    border: none;
    border-radius: 5px;
    background-color: #469E86;
}

#card_loupe{
    overflow-y: auto;
}

.loupe{
    margin: 70px;
   width: 150px;
}